$color1 = #ffffff;
$color2 = #FFCFCF;

html,
body {
    margin: 0;
    font-family: Arial;
    color: $color1;
}

p,
a {
    font-size: 0.75rem;
}

img {
    padding-left: 30px;
    height: 350px;
    width: 550px;
}

.container {
    min-height: 100%;
    display: flex;

    .nav {
        width: 15%;
        min-width: 140px;
        color: $color2;
        padding-top: 55px;
        padding-right: 30px;
        text-align: center;

        ul {
            list-style: none;
        }

        h4 {
            -webkit-margin-before: 0;
            margin-left: 50px;
        }
    }

    .main {
        width: 85%;
        min-height: 750px;
        min-width: 600px;
        background-color: $color2;

        >* {
            padding-left: 30px;
        }

        ul {
            li {
                font-size: 0.85rem;
            }
        }

        h1 {
            font-size: 62px;
            -webkit-margin-before: 0;
            padding-top: 40px;
        }

        p {
            width: 55%;
            min-width: 550px;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

    }
}
