* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#header {
    background-image: url("../images/pattern.jpeg");
    background-repeat: no-repeat;
    text-align: center;
    color: khaki;
    font-size: 50px;
    font-weight: bold;
    margin: 50px 10px;
}

.main {
    margin: 0 10px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 25px;
}

h3,
p {
    margin: 20px 0;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.special {
    font-weight: bold;
    color: blue;
}

footer p {
    text-align: center;
}

footer p:hover {
    background-color: rgb(47, 172, 172);
    padding: 10px;
}

#heart {
    color: red;
    font-size: 30px;
}

